
    <%- layout('layouts/main.ejs')   %>
<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="INSERT EMAIL">
    <input type="password" name="password" placeholder="INSERT PASSWORD">
    <button type="submit">
        Singup
    </button>
</form>

